<header class="header-container">
    <div class="logo-container">
        <a href="#">
            <img class="logo-img" src="../../../assets/images/logo.png" alt="logo">
            <!-- <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Logo_blanco_prueba_4.png/1200px-Logo_blanco_prueba_4.png"> -->
        </a>
    </div>
    <div class="nav-menu-container">
        <nav class="nav-menu">
            <a class="a-active" href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Works</a>
            <a href="#">Process</a>
            <a href="#">Contact</a>
        </nav>
    </div>
    <div class="resume-container">
        <a href="#">
            <fa-icon [icon]="['far', 'file']" class="fa-file"></fa-icon>
            Download Resume
        </a>
    </div>
</header>