<header class="header-container">
    <div class="logo-container">
        <a href="#">
            <img class="logo-img" src="../../../assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="nav-menu-container">
        <nav class="nav-menu">
            <a [ngClass]="{'a-active': actualPage == 'introduction'}" (click)="emitScroll.emit('introduction')">Introduction</a>
            <a [ngClass]="{'a-active': actualPage == 'projects'}" (click)="emitScroll.emit('projects')">Projects</a>
            <a [ngClass]="{'a-active': actualPage == ''}" >Process</a>
            <a [ngClass]="{'a-active': actualPage == ''}" >Contact</a>
        </nav>
    </div>
    <div class="resume-container">
        <a href="#">
            <fa-icon [icon]="['far', 'file']" class="fa-file"></fa-icon>
            Download Resume
        </a>
    </div>
</header>