.introduction-main{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(5, 7, 12, 0.623), rgba(5, 7, 12, 0.568)), url(../../../assets/images/dandelion.jpg);
    background-repeat: no-repeat;
    background-position:center right;
    background-size: cover; */
    background-color: #191D23;

    font-family: 'Raleway', sans-serif;
}
.presentation-carousel{
    /* background-color: rgba(44, 49, 88, 0.336); */
    width: 100vw;
    padding: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.slider{
    display: flex;
    flex-flow: row nowrap;
    /* height: 90%; */
    width: 300%;
    /* margin-top: 8px; */
    justify-content: space-between;
    padding: 5px;
    /* background-color: #e2e2e2; */
    transition: all 1s;
}
.view1{
    transform: none;
}
.view2{
    transform: translateX(-33.3%);
}
.view3{
    transform: translateX(-66.6%);
}
.spots-carousel{
    /* background-color:#ecd5cd; */
    align-self: center;
    width: min-content;
    padding: .7em;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 15px;
    margin: 0;
    border-radius: 18px;
}

.spot{
    color: #a79e9c89;
    cursor: pointer;
    font-size: 24px;
    filter: drop-shadow(1px 1px 2px rgba(31, 30, 30, 0.507));
}
/* .spot-user:hover, .active-spot-user{
    color: #e2b683;
} */
.spot-heart:hover, .active-spot-heart{
    color: rgb(221, 87, 203);
}

.presentation{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-style{
    width: calc(100% / 3 - .5em);
    /* background-color: rgb(155, 116, 116); */

}
.about-me h3{
    color:#B58863;
}
.spot-user:hover, .active-spot-user{
    color: #6330c2;
}
.about-me-container{
    padding-left: 20px;
}
.about-me p{
    font-weight: 500;
    color:#DEDCDC ;
}
.presentation h1{
    color: #6330c2b0;
    font-weight: bold;
    margin-bottom:0;
}
.presentation span{
    color: #DEDCDC;
}
.presentation .highlight{
    display: block;
    color: #86A8CF;
}
.angular-style{
    background: #C9080D;
    background: linear-gradient(to right, #C9080D 0%, #7802fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
}
.highlight{
    color: #86A8CF;
}
.links{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.link-icon{
    height: 2em;
    fill: #a79e9c59;
}
.links a:first-child .link-icon:hover{ 
    fill: #42598b;
}
.links a:nth-child(2) .link-icon:hover{
    fill: #babec5;
}
.portrait-container{
    text-align: center;
}
.portrait-container img{
    /* background-color: rgba(128, 128, 128, 0.664); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.623);
    object-fit: contain;
    max-width: 350px;
    min-width: 200px;
    width: 45%;
    filter: grayscale(60%);
}

