<main class="projects-main">
    <h2>PROJECTS</h2>
    <div class="projects-container">
        <div class="project">
            <img src="https://i.ytimg.com/vi/22jbKCeQ5HA/maxresdefault.jpg" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project">
            <img src="https://i.ytimg.com/vi/22jbKCeQ5HA/maxresdefault.jpg" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project">
            <img src="https://i.ytimg.com/vi/22jbKCeQ5HA/maxresdefault.jpg" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
    </div>
</main>