<main #projectsMain class="projects-main">
    <h2>PROJECTS</h2>
    <div #projects class="projects-container" >
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://blog.hubspot.com/hs-fs/hubfs/homepage-design-chartiy-water.jpg?width=650&height=381&name=homepage-design-chartiy-water.jpg" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://blog.hubspot.com/hs-fs/hubfs/homepage-design-telerik.jpg?width=650&height=355&name=homepage-design-telerik.jpg" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://bootstrapmade.com/content/templatefiles/Arsha/Arsha-bootstrap-website-template-md.webp" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://bootstrapmade.com/content/templatefiles/Arsha/Arsha-bootstrap-website-template-md.webp" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://bootstrapmade.com/content/templatefiles/Arsha/Arsha-bootstrap-website-template-md.webp" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://bootstrapmade.com/content/templatefiles/Arsha/Arsha-bootstrap-website-template-md.webp" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://bootstrapmade.com/content/templatefiles/Arsha/Arsha-bootstrap-website-template-md.webp" alt="project img">
            <div class="project-description">
                <h3>Project Name</h3>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptatum ipsa quisquam eum, voluptatibus at optio commodi deleniti consequatur doloremque totam, illo tenetur expedita voluptates neque mollitia pariatur corporis similique!</span>
            </div>
        </div>
    </div>
</main>