<main #projectsMain class="projects-main">
    <h2>PROJECTS</h2>
    <div #projects class="projects-container">
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="../../../assets/images/projects/foroBP.jpg" alt="project img">
            <div class="info-project">
                <h2>Foro B.P 3000</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, libero suscipit. Minus odit quis voluptatibus unde reprehenderit exercitationem ipsa dolores, numquam delectus repellat ipsum quidem voluptatem distinctio! Praesentium, enim animi!</p>
            </div>
        </div>
        <div class="project" [ngClass]="{'animation': isVisible}">
            <img src="https://blog.hubspot.com/hs-fs/hubfs/homepage-design-telerik.jpg?width=650&height=355&name=homepage-design-telerik.jpg" alt="project img">
            <div class="info-project">
                <h2>B.P 3000 FORO</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, libero suscipit. Minus odit quis voluptatibus unde reprehenderit exercitationem ipsa dolores, numquam delectus repellat ipsum quidem voluptatem distinctio! Praesentium, enim animi!</p>
            </div>
        </div>
    </div>
</main>