<div class="slide-main">
    <ul class="slider">
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/angular-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/html-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/css-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/javascript-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/typescript-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/java-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/springboot-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/angular-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/html-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/css-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/javascript-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/typescript-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/java-icon.svg" alt=""></li>
        <li class="icon-container"><img src="../../../../assets/images/lenguages-carousel/springboot-icon.svg" alt=""></li>
    </ul>
</div>