h2,p{
    margin: 0;
}
.contact-me-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #252725;
    padding-top: 100px;
}
.article-info{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 70px 0;
}
.container-text{
    position: relative;
    /* padding: 30px 20px; */
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* justify-content: center; */
    /* gap: 20px; */
}

.container-text::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 11% 5%;
    top: -15px;
    left: -15px;
    background-color: rgba(55, 72, 107, 0.205);
    box-shadow: 0px 0px 100px rgba(55, 72, 107, 0.459);
    border-radius: 1000px;
    z-index: 1;
}

.container-text > span{
    font-family: 'inter';
    text-align: left;
    font-size: clamp(2rem, 5vw, 3.3rem);
    font-style: italic;
    font-weight: 600;
    /* text-align: center; */
    color:rgb(187, 187, 187);
    /* animation: appear 10s forwards; */
    z-index: 2;
}
.span-less-important{
    color:rgb(66, 73, 87);
}
.span-more-important{
    text-shadow: 10px 1em 0px rgba(240, 142, 142, 0.555), 20px 2em rgb(66, 73, 87);
    
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
.article-form{
    flex-basis: 100%;
    padding:70px 0px;
    /* background-color: rgba(168, 168, 168, 0.548); */
}
.article-form > h2{
    color: rgb(109, 119, 175);
    text-align: center; 
}
.contact-me-form{
    padding: 50px 10%;
}
.label-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: rgb(179, 179, 179);
    margin-bottom: 20px;
}
.input-default{
    width: 100%;
    border: none;
    font-size: clamp(.9rem, 1.5vw, 1.2rem);
    padding: 10px 0 10px 5px;
    background-color: rgba(66, 73, 87, 0.685);
    color: whitesmoke;
}
.input-textarea{
    resize: vertical;
    min-height: 230px;
    border-radius: 5px;
}
@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
.label-form::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    /* background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6); */
    background: linear-gradient(to right, #4f79ce, #f56666a9, #4f79ce, #f56666a9);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}
.input-default:focus-visible{
    outline: none;
}
.submit-btn{
    margin-top: 15px;
    border: none;
    font-size: .8rem;
    transition: all .4s;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 5px;
    color: rgb(117, 117, 117);
    padding: 10px 20px;
    width: 100%;
}
.active-btn{
    cursor: pointer;
    color: #4f79cee5;
    font-size: 1rem;
    background-color: rgba(22, 22, 22, 0.829);
}

.active-btn:hover{
    
}
.input-required{
    display: inline;
    font-size: .8rem;
    color: rgb(156, 69, 69);
}

@media(min-width: 900px){
    .contact-me-container{
        padding-top: 160px;
    }
    .article-info{
        flex-basis: 53%;
    }
    .article-form{
        flex-basis: 47%;
        justify-content: flex-start;
        padding: 0 0 60px 0;
    }
    .contact-me-form{
        padding: 50px 12%;
    }
}