<section class="contact-me-container">
  <article class="article-info">
    <div class="container-text">
      <span>I'M HERE</span>
      <span><span class="span-less-important">AND</span> READY</span>
      <span>FOR YOUR</span>
      <span>NEXT</span>
      <span class="span-more-important">CHALLENGE!</span>
    </div>
  </article>
  <article class="article-form">
    <div *ngIf="isMessageSent" class="modal-thanks">
      <article class="modal-thanks-body">
        <fa-icon class="modal-icon" [icon]="['far', 'circle-check']"></fa-icon>
        <h2 class="modal-title">Thank you for contacting me!</h2>
        <p class="modal-info">Your message has been sent</p>
      </article>
    </div>
    <h2>GET IN TOUCH</h2>
    <form class="contact-me-form" [formGroup]="contactForm">
      <label class="label-form" for="name">
        Your name:
        <span class="input-required" *ngIf="name.errors?.['required'] && name.dirty">Required</span>
        <input class="input-default input-text" type="text" name="name" formControlName="name">
      </label>
      <label class="label-form" for="email">
        Your email:
        <span class="input-required" *ngIf="email.errors?.['required'] && email.dirty">Required</span>
        <span class="input-required" *ngIf="email.errors?.['email'] && email.dirty">Incorrect email format. Please try again</span>
        <input class="input-default input-text" type="email" name="email" formControlName="email">
      </label>
      <label class="label-form">
        Your message:
        <span class="input-required" *ngIf="message.errors?.['required'] && message.dirty">Required</span>
        <textarea class="input-default input-textarea" name="message" formControlName="message"></textarea>
      </label >
      <button *ngIf="!isMessageSent" [disabled]="contactForm.invalid" class="submit-btn" [ngClass]="{'active-btn': contactForm.valid}" type="submit" (click)="onSubmit($event)"><fa-icon *ngIf="!isLoading" class="paper-plane-icon" icon="paper-plane"></fa-icon> <app-loader *ngIf="isLoading"></app-loader></button>
    </form>
  </article>
</section>